<div class="form">
    <form name="Form" #formGroup="ngForm" (submit)="saveCustomer(formGroup)">
        <h1>RT-PCR-FORM</h1>
        <div class="container">
            <div class="tab tab-container">
                <div class="field">
                    <label for="fname">Person Name :</label>
                    <input placeholder="Enter First Name" class="form-control" name="personname" type="text"
                        [ngModel]="formModel.PersonName" required minlength="3" #PersonNameFormControl="ngModel" />
                    <div class="help-block" *ngIf="PersonNameFormControl.invalid && PersonNameFormControl.touched">
                        <span *ngIf="PersonNameFormControl.errors?.['required']">
                            Person Name is Required
                        </span>
                        <span *ngIf="PersonNameFormControl.errors?.['minlength']">
                            Person Name must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="aadhar">Aadhar Numbar :</label>
                    <input placeholder="Enter Aadhar Numbar" class="form-control" name="aadhar" type="number"
                        [ngModel]="formModel.AadharNumbar" required minlength="3" #AadharNumbarFormControl="ngModel" />
                    <div class="help-block" *ngIf="AadharNumbarFormControl.invalid && AadharNumbarFormControl.touched">
                        <span *ngIf="AadharNumbarFormControl.errors?.['required']">
                            Aadhar Numbar is Required
                        </span>
                        <span *ngIf="AadharNumbarFormControl.errors?.['minlength']">
                            Aadhar Numbar must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="date-of-birth">Date Of Birth :</label>
                    <input placeholder="Enter Last Name" class="form-control" name="DateOfBirth " type="date"
                        [ngModel]="formModel.DateOfBirth" required minlength="3" #DateOfBirthFormControl="ngModel" />
                    <div class="help-block" *ngIf="DateOfBirthFormControl.invalid && DateOfBirthFormControl.touched">
                        <span *ngIf="DateOfBirthFormControl.errors?.['required']">
                            Date Of Birth is Required
                        </span>
                        <span *ngIf="DateOfBirthFormControl.errors?.['minlength']">
                            Date Of Birth must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="city">City :</label>
                    <input placeholder="Enter Your City" class="form-control" name="City" type="text"
                        [ngModel]="formModel.City" required minlength="3" #CityFormControl="ngModel" />
                    <div class="help-block" *ngIf="CityFormControl.invalid && CityFormControl.touched">
                        <span *ngIf="CityFormControl.errors?.['required']">
                            City is Required
                        </span>
                        <span *ngIf="CityFormControl.errors?.['minlength']">
                            City must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="date-of-test">Date Of Test :</label>
                    <input placeholder="Enter Your Date" class="form-control" name="Date" type="date"
                        [ngModel]="formModel.DateOfTest" required minlength="3" #DateOfTestFormControl="ngModel" />
                    <div class="help-block" *ngIf="DateOfTestFormControl.invalid && DateOfTestFormControl.touched">
                        <span *ngIf="DateOfTestFormControl.errors?.['required']">
                            Date Of Test is Required
                        </span>
                        <span *ngIf="DateOfTestFormControl.errors?.['minlength']">
                            Date Of Test must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="time-of-test">Time Of Test :</label>
                    <input placeholder="Enter Your Time" class="form-control" name="Time" type="time"
                        [ngModel]="formModel.TimeOfTest" required minlength="3" #TimeOfTestFormControl="ngModel" />
                    <div class="help-block" *ngIf="TimeOfTestFormControl.invalid && TimeOfTestFormControl.touched">
                        <span *ngIf="TimeOfTestFormControl.errors?.['required']">
                            Time Of Test is Required
                        </span>
                        <span *ngIf="TimeOfTestFormControl.errors?.['minlength']">
                            Time Of Test must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="result">Result :</label>
                    <input placeholder="Enter your Result" class="form-control" name="Result" type="text"
                        [ngModel]="formModel.Result" required minlength="3" #ResultFormControl="ngModel" />
                    <div class="help-block" *ngIf="ResultFormControl.invalid && ResultFormControl.touched">
                        <span *ngIf="ResultFormControl.errors?.['required']">
                            Result is Required
                        </span>
                        <span *ngIf="ResultFormControl.errors?.['minlength']">
                            Result must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="lab">Lab Name :</label>
                    <input placeholder="Enter Lab Name" class="form-control" name="Lab" type="text"
                        [ngModel]="formModel.LabName" required minlength="3" #LabFormControl="ngModel" />
                    <div class="help-block" *ngIf="LabFormControl.invalid && LabFormControl.touched">
                        <span *ngIf="LabFormControl.errors?.['required']">
                            Lab Name is Required
                        </span>
                        <span *ngIf="LabFormControl.errors?.['minlength']">
                            Lab Name must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label for="report">Report Number :</label>
                    <input placeholder="Enter your Report" class="form-control" name="Report" type="number"
                        [ngModel]="formModel.Report" required minlength="3" #ReportFormControl="ngModel" />
                    <div class="help-block" *ngIf="ReportFormControl.invalid && ReportFormControl.touched">
                        <span *ngIf="ReportFormControl.errors?.['required']">
                            Report Number is Required
                        </span>
                        <span *ngIf="ReportFormControl.errors?.['minlength']">
                            Report Number must be more than 3 characters
                        </span>
                    </div>
                </div>
                <div class="field" id="check-gen">
                    <label for="gender">Gender :</label>
                    <input placeholder="Gender" class="form-control" type="text" name="Gender"
                        [ngModel]="formModel.Gender" required minlength="3" #GenderFormControl="ngModel" />
                    <div class="help-block" *ngIf="GenderFormControl.invalid && GenderFormControl.touched">
                        <span *ngIf="GenderFormControl.errors?.['required']">
                            Gender is Required
                        </span>
                        <span *ngIf="GenderFormControl.errors?.['minlength']">
                            Gender must be more than 3 characters
                        </span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="btn" (change)='onchange($event)'>Add</button>
            </div>
            <div class="search">
                <input type="text" id="find" placeholder="Enter name to search">
                <input type="submit" id="submit">
                <div id="msg"></div>
            </div>
            <div class="tab tab-1">
                <table id="table" style="border: 1;">
                    <tr>
                        <th>Person Name</th>
                        <th>Aadhar Number</th>
                        <th>Date Of Birth</th>
                        <th>City</th>
                        <th>Date Of Test</th>
                        <th>time of test</th>
                        <th>Result</th>
                        <th>Lab Name</th>
                        <th>Report Number</th>
                        <th>Gender</th>

                    </tr>
                </table>
            </div>
            <div class="tab tab-1 " id="tab-3">
                <table id="table1" style="border: 1;">
                    <tr>
                        <th>Person Name</th>
                        <th>Aadhar Number</th>
                        <th>Date Of Birth</th>
                        <th>City</th>
                        <th>Date Of Test</th>
                        <th>time of test</th>
                        <th>Result</th>
                        <th>Lab Name</th>
                        <th>Report Number</th>
                        <th>Gender</th>
                    </tr>
                </table>
            </div>
        </div>